{%- if paginate.pages > 1 -%}
<div class="pagination" role="navigation" aria-label="pagination">
  {%- if paginate.previous.is_link -%}
    {%- capture previous_link_url -%}
    {%- if paginate.current_page == 2 -%}
      {%- if template contains "search" -%}
      {{ paginate.previous.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
      {%- else -%}
      {{ paginate.previous.url | replace: '?page=1', '' }}
      {%- endif -%}
    {%- else -%}
      {{ paginate.previous.url }}
    {%- endif -%}
    {%- endcapture -%}
    <span class="page"><a href="{{ previous_link_url }}" title="Previous page">{{ paginate.previous.title | replace: '&laquo; Previous', '&larr;' }}<span class="visually-hidden"> Previous page</span></a></span>
  {%- endif -%}
  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      {%- capture part_link_url -%}
      {%- if part.title == 1 -%}
        {%- if template contains "search" -%}
        {{ part.url | replace: 'page=1', '' | replace: '?&', '?' | replace: '&&', '&' }}
        {%- else -%}
        {{ part.url | replace: '?page=1', '' }}
        {%- endif -%}
      {%- else -%}
      {{ part.url }}
      {%- endif -%}
      {%- endcapture -%}
      <span class="page"><a href="{{ part_link_url }}">{{ part.title }}</a></span>
    {%- else -%}
      {%- assign is_deco = part.title | divided_by: 1 -%}
      {%- if is_deco != part.title -%}
      <span class="deco" aria-hidden="true"><span class="visually-hidden">Page </span>{{ part.title }}</span>
      {%- else -%}
      <span class="page current" aria-current="page">{{ part.title }}</span>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if paginate.next.is_link -%}
    <span class="page"><a href="{{ paginate.next.url }}" title="Next page">{{ paginate.next.title | replace: 'Next &raquo;', '&rarr;' }}<span class="visually-hidden"> Next page</span></a></span>
  {%- endif -%}
</div>
{%- endif -%}
